 <!-- Copyright -->
    <footer  class="page-footer footer-copyright px-0 mx-0 my-0 blue-gradient">
          <h6 class="text-sm-center px-0 my-auto py-0">
              © {{'now'|date('Y')}} Copyright: <a href="https://wakane-transfert.com"> <strong>Wakane-Transfert</strong> </a>
          </h6>
          <h6 class="text-sm-right">
             <span class="font-italic"> Developed by:</span><a href="https://we-ml.agroinnov.pro"> <strong>Wenovate-Ml</strong> </a>
          </h6>
    </footer>

