<footer class="page-footer pt-0 mt-5 blue-gradient">

    <!-- Copyright -->
    <div class="footer-copyright py-3 text-center">
      <div class="container-fluid">
          <p class="text-left">
              © {{'now'|date('Y')}} Copyright: <a href="https://wakane-transfert.com"> <strong>Wakane-Transfert</strong> </a>
          </p>
          <p class="text-right font-italic">
              Developed by: <a href="https://we-ml.agroinnov.pro"> <strong>Wenovate-Ml</strong> </a>
          </p>

      </div>
    </div>

  </footer>
